<section>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Create an account</h2>
  
                <form [formGroup]="form" (ngSubmit)="login()">
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input formControlName="Email" type="email" id="form3Example3cg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example3cg">Email</label>
                  </div>
  
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input formControlName="Password" type="password" id="form3Example4cg" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example4cg">Password</label>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                      [disabled]="!form.valid">
                      Login
                    </button>
                  </div>
                  <p class="error"></p>
                  <p class="text-center text-muted mt-5 mb-0">
                    Don't have an account?
                    <a routerLink="/Sign-Up" routerLinkActive="active"  class="fw-bold text-body"><u>Sign-Up here</u></a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>